/**
 * @version 		$Id:$
 * @name			Work (Release 1.0.0)
 * @author			 ()
 * @package			com_work
 * @subpackage		com_work.admin
 * @copyright		
 * @license			GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html 
 * 
 * The following Component Architect header section must remain in any distribution of this file
 *
 * @CAversion		Id: admin.css 408 2014-10-19 18:31:00Z BrianWade $
 * @CAauthor		Component Architect (www.componentarchitect.com)
 * @CApackage		architectcomp
 * @CAsubpackage	architectcomp.admin
 * @CAtemplate		joomla_3_3_standard (Release 1.0.3)
 * @CAcopyright		Copyright (c)2013 - 2014  Simply Open Source Ltd. (trading as Component Architect). All Rights Reserved
 * @CAlicense		GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html
 * 
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 */
/********************************** Batch Copy layout *****************************************/
 label#batch-access-lbl, label#batch-language-lbl,
label#batch-category-lbl, label#batch-copy-items-lbl
{
    margin-right: 10px !important;
    margin-top: 5px !important;
}
select#batch-access-id, select#batch-language-id,
select#batch-category-id
{
    margin-right: 5px !important;
    margin-top: 5px !important;
} 
input#batch-copy-items
{
    margin-right: 5px !important;
    margin-top: 10px !important;
}
.order-column
{
    text-align: center;
    width: 10% !important;
    
}
input.order-input
{
    width: 20% !important;
    text-align: right;
}
 /********************************** Component Icons *****************************************/
.icon-16-work
{
      background-image: url(../images/icon-16-work.png);
}
.icon-48-work
{
      background-image: url(../images/icon-48-work.png);
}
.icon-16-categories
{
      background-image: url(../images/icon-16-categories.png);
}
.icon-48-categories
{
      background-image: url(../images/icon-48-categories.png);
}

.icon-16-service
{
      background-image: url(../images/icon-16-services.png);
}
.icon-16-services
{
      background-image: url(../images/icon-16-services.png);
}
.icon-48-service
{
      background-image: url(../images/icon-48-services.png);
}
.icon-48-services
{
      background-image: url(../images/icon-48-services.png);
}
.icon-16-video
{
      background-image: url(../images/icon-16-videos.png);
}
.icon-16-videos
{
      background-image: url(../images/icon-16-videos.png);
}
.icon-48-video
{
      background-image: url(../images/icon-48-videos.png);
}
.icon-48-videos
{
      background-image: url(../images/icon-48-videos.png);
}
.icon-16-gallery
{
      background-image: url(../images/icon-16-galleries.png);
}
.icon-16-galleries
{
      background-image: url(../images/icon-16-galleries.png);
}
.icon-48-gallery
{
      background-image: url(../images/icon-48-galleries.png);
}
.icon-48-galleries
{
      background-image: url(../images/icon-48-galleries.png);
}
.icon-16-item
{
      background-image: url(../images/icon-16-items.png);
}
.icon-16-items
{
      background-image: url(../images/icon-16-items.png);
}
.icon-48-item
{
      background-image: url(../images/icon-48-items.png);
}
.icon-48-items
{
      background-image: url(../images/icon-48-items.png);
}
