/**
 * @version 		$Id:$
 * @name			Work (Release 1.0.0)
 * @author			 ()
 * @package			com_work
 * @subpackage		com_work.site
 * @copyright		
 * @license			GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html 
 * 
 * The following Component Architect header section must remain in any distribution of this file
 *
 * @CAversion		Id: site_architectcomp.css 408 2014-10-19 18:31:00Z BrianWade $
 * @CAauthor		Component Architect (www.componentarchitect.com)
 * @CApackage		architectcomp
 * @CAsubpackage	architectcomp.site
 * @CAtemplate		joomla_3_3_standard (Release 0.5.0)
 * @CAcopyright		Copyright (c)2013 - 2014  Simply Open Source Ltd. (trading as Component Architect). All Rights Reserved
 * @Joomlacopyright Copyright (c)2005 - 2013 Open Source Matters, Inc. All rights reserved.
 * @CAlicense		GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html
 * 
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 */
/*#################### tables ############################ */
.work table
{
        border-collapse:collapse;
        width: 99%;
}
.work table th
{
	    text-align: center;
	    background: #f7f7f7;
	    color: #666;
	    border-bottom: 1px solid #CCC;
	    border-left: 1px solid #ddd;
}
.work table th a img
{
	    border:solid 0px ;
}
.work .filter
{
        margin:10px 0
}
.work .filter-search
{
        float:left;
}
.work .filter-search input
{
        width: auto;
}
.work .display-limit,
.work .filter
{
        text-align:right;
        margin-right:7px;
        width: 20%;
        float: right;    
}
.work legend.element-invisible
{
        position:absolute;
        /* need margin top and left doesn't work for the legend element */
        margin-left:-3000px;
        margin-top:-3000px;
        height:0px;
}
/*#################### media control general css for front end ############################ */
.formelm .fltlft
{
    float: left;
} 
.formelm .button2-left
{
    margin-top: -15px;
    margin-left: 10px;
}
.formelm .media-preview
{
    margin-left: 10px;
}
