/**
 * @version 		$Id:$
 * @name			Work (Release 1.0.0)
 * @author			 ()
 * @package			com_work
 * @subpackage		com_work.site
 * @copyright		
 * @license			GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html 
 * 
 * The following Component Architect header section must remain in any distribution of this file
 *
 * @CAversion		Id: site_compobjectplural.css 408 2014-10-19 18:31:00Z BrianWade $
 * @CAauthor		Component Architect (www.componentarchitect.com)
 * @CApackage		architectcomp
 * @CAsubpackage	architectcomp.site
 * @CAtemplate		joomla_3_3_standard (Release 0.5.0)
 * @CAcopyright		Copyright (c)2013 - 2014  Simply Open Source Ltd. (trading as Component Architect). All Rights Reserved
 * @Joomlacopyright Copyright (c)2005 - 2013 Open Source Matters, Inc. All rights reserved.
 * @CAlicense		GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html
 * 
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 */
/*#################### items list table with grid settings ############################ */
.items-list table.items
{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}
.items-list table.items td
{
        padding:7px;
}
.items-list table.items th
{
        padding:7px;
}
.items .display-limit
{
    float: right;
    display: inline;
}
/*#################### items list grid settings ############################ */

.items-list a.saveorder {
        width: 16px;
        height: 16px;
        display: block;
        overflow: hidden;
        background: url(../images/filesave.png) no-repeat;
        float: right;
        margin-right: 8px;
}
.items-list td.list-order
{
	    float: right;
	    border: none;
}
.items-list a.jgrid:hover
{
    text-decoration: none;
}

.items-list .jgrid span.state
{
	    display: inline-block;
	    height: 16px;
	    width: 16px;
}
.items-list .jgrid span.text 
{
        display:none;
}
.items-list .jgrid span.downarrow				
{
        background-image: url(../images/downarrow.png);
}
.items-list .jgrid span.downarrow_disabled
{
       background-image: url(../images/downarrow0.png);
       background-position: 0 -12px;
}
.items-list .jgrid span.uparrow	
{
        background-image: url(../images/uparrow.png);
}
.items-list .jgrid span.uparrow_disabled
{
        background-image: url(../images/uparrow0.png);
        background-position: 0 -12px;
}
/*#################### items list actions icons ############################ */
.items-list ul.actions
{
        padding:0 ;
        width:100%;
        margin:0;
        list-style-type: none;
}
.items-list ul.actions a
{
        text-decoration:none
}
/*#################### items list pagination ############################ */
.items-list .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}
/*#################### items modal list ############################ */
.items-modal
{
        width: 760px;
}
/*#################### items modal list tables ############################ */
.items-modal table.items th a {
}
.items-modal table.items th  a img {
	    border:solid 0px ;
}
.items-modal table.items
{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}
.items-modal table.items td
{
        padding:7px;
}
.items-modal table.items th
{
        padding:7px;
        text-align:left;
	    background:#444 ;        
}
.items-modal table.items th
{
	    color:#fff
}
/*#################### items modal list pagination ############################ */

.items-modal .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}

/*#################### items blog ############################ */
.items-blog h1
{
        margin:0 0px 10px 0px
}
/*#################### items blog actions icons ############################ */
.items-blog ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.items-blog ul.actions li
{
        display:inline
}
.items-blog ul.actions a
{
        text-decoration:none
}
/*#################### items blog items more ############################ */
.items-blog .items-more
{
        padding-top:10px;
}
.items-blog .items-more h3
{
        font-weight:normal;
        margin:0;
        padding:5px 5px 5px 5px;
        font-size:1.4em
}
.items-blog .items-more ol
{
        line-height:1.3em;
        list-style-type:none;
        margin:0;
        padding:10px 0 10px 2px;
}
.items-blog .items-more ol li
{
        padding:2px;
}
.items-blog .items-more ol li a
{
        display:inline;
        margin:0;
        font-weight:normal;
        padding:5px 5px 5px 20px;
}
.items-blog .items-more ol li a:hover,
.items-blog .items-more ol li a:active,
.items-blog .items-more ol li a:focus
{
        font-weight:normal;
        padding:5px 5px 5px 20px;
        text-decoration:none
}
/*#################### items blog pagination ############################ */
.items-blog .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}

/*#################### item view ############################ */
.item-view
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.item-view .formelm label,
{
    width: 200px;
}
/* #main required */
#main .item-view .formelm ul
{
        list-style-type: none;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
}
#main .item-view .formelm ul label
{
         font-weight: normal;
}
.item-view .formelm fieldset
{
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: inline;
}
.item-view .formelm label,
.item-view .formelm-area label  
{
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;    
}
.item-view .formelm span  
{
        margin-bottom: 5px;    
}
.item-view fieldset legend
{
        font-weight: bold;
        font-size: 120%;
}
/*#################### item view actions icons ############################ */
.item-view ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.item-view ul.actions li
{
        display:inline
}
.item-view ul.actions a
{
        text-decoration:none
}
/*#################### item article ############################ */
.item-article
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.item-article dt.info-title,
.item-article dt.fields-title
{
        font-weight: bold;
        font-size: 120%;
		margin-top: 10px;
}
#main .item-article dd ul
{
        list-style-type: none;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
}
#main .item-article dd.field label
{
         font-weight: bold;
         margin-top: 10px;
}
#main .item-article dd ul label
{
         font-weight: bold;
         margin-top: 10px;
}
.item-article dd fieldset
{
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: inline;
}
/*#################### item article actions icons ############################ */
.item-article ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.item-article ul.actions li
{
        display:inline
}
.item-article ul.actions a
{
        text-decoration:none
}


/*#################### item edit form ############################ */
.item-edit
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.item-edit .button2-left,
.item-edit .button2-left div,
.item-edit .button2-left a
{
        float: none;
        display: inline;
}
.item-edit .control-group .control-label
{
        display: inline-block !important; 
}
.item-edit .control-group .controls
{
        display: inline-block !important;      
}
.item-edit .control-group .control-label
{
        width: 150px !important;      
}