/**
 * @version 		$Id:$
 * @name			Work (Release 1.0.0)
 * @author			 ()
 * @package			com_work
 * @subpackage		com_work.site
 * @copyright		
 * @license			GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html 
 * 
 * The following Component Architect header section must remain in any distribution of this file
 *
 * @CAversion		Id: site_compobjectplural.css 408 2014-10-19 18:31:00Z BrianWade $
 * @CAauthor		Component Architect (www.componentarchitect.com)
 * @CApackage		architectcomp
 * @CAsubpackage	architectcomp.site
 * @CAtemplate		joomla_3_3_standard (Release 0.5.0)
 * @CAcopyright		Copyright (c)2013 - 2014  Simply Open Source Ltd. (trading as Component Architect). All Rights Reserved
 * @Joomlacopyright Copyright (c)2005 - 2013 Open Source Matters, Inc. All rights reserved.
 * @CAlicense		GNU General Public License version 3 or later; See http://www.gnu.org/copyleft/gpl.html
 * 
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 */
/*#################### galleries list table with grid settings ############################ */
.galleries-list table.galleries
{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}
.galleries-list table.galleries td
{
        padding:7px;
}
.galleries-list table.galleries th
{
        padding:7px;
}
.galleries .display-limit
{
    float: right;
    display: inline;
}
/*#################### galleries list grid settings ############################ */

.galleries-list a.saveorder {
        width: 16px;
        height: 16px;
        display: block;
        overflow: hidden;
        background: url(../images/filesave.png) no-repeat;
        float: right;
        margin-right: 8px;
}
.galleries-list td.list-order
{
	    float: right;
	    border: none;
}
.galleries-list a.jgrid:hover
{
    text-decoration: none;
}

.galleries-list .jgrid span.state
{
	    display: inline-block;
	    height: 16px;
	    width: 16px;
}
.galleries-list .jgrid span.text 
{
        display:none;
}
.galleries-list .jgrid span.downarrow				
{
        background-image: url(../images/downarrow.png);
}
.galleries-list .jgrid span.downarrow_disabled
{
       background-image: url(../images/downarrow0.png);
       background-position: 0 -12px;
}
.galleries-list .jgrid span.uparrow	
{
        background-image: url(../images/uparrow.png);
}
.galleries-list .jgrid span.uparrow_disabled
{
        background-image: url(../images/uparrow0.png);
        background-position: 0 -12px;
}
/*#################### galleries list actions icons ############################ */
.galleries-list ul.actions
{
        padding:0 ;
        width:100%;
        margin:0;
        list-style-type: none;
}
.galleries-list ul.actions a
{
        text-decoration:none
}
/*#################### galleries list pagination ############################ */
.galleries-list .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}
/*#################### galleries modal list ############################ */
.galleries-modal
{
        width: 760px;
}
/*#################### galleries modal list tables ############################ */
.galleries-modal table.galleries th a {
}
.galleries-modal table.galleries th  a img {
	    border:solid 0px ;
}
.galleries-modal table.galleries
{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}
.galleries-modal table.galleries td
{
        padding:7px;
}
.galleries-modal table.galleries th
{
        padding:7px;
        text-align:left;
	    background:#444 ;        
}
.galleries-modal table.galleries th
{
	    color:#fff
}
/*#################### galleries modal list pagination ############################ */

.galleries-modal .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}

/*#################### galleries blog ############################ */
.galleries-blog h1
{
        margin:0 0px 10px 0px
}
/*#################### galleries blog actions icons ############################ */
.galleries-blog ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.galleries-blog ul.actions li
{
        display:inline
}
.galleries-blog ul.actions a
{
        text-decoration:none
}
/*#################### galleries blog items more ############################ */
.galleries-blog .items-more
{
        padding-top:10px;
}
.galleries-blog .items-more h3
{
        font-weight:normal;
        margin:0;
        padding:5px 5px 5px 5px;
        font-size:1.4em
}
.galleries-blog .items-more ol
{
        line-height:1.3em;
        list-style-type:none;
        margin:0;
        padding:10px 0 10px 2px;
}
.galleries-blog .items-more ol li
{
        padding:2px;
}
.galleries-blog .items-more ol li a
{
        display:inline;
        margin:0;
        font-weight:normal;
        padding:5px 5px 5px 20px;
}
.galleries-blog .items-more ol li a:hover,
.galleries-blog .items-more ol li a:active,
.galleries-blog .items-more ol li a:focus
{
        font-weight:normal;
        padding:5px 5px 5px 20px;
        text-decoration:none
}
/*#################### galleries blog pagination ############################ */
.galleries-blog .pagination p.counter
{
        text-align: center;
        margin: 0 auto 0 auto; 
}

/*#################### gallery view ############################ */
.gallery-view
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.gallery-view .formelm label,
{
    width: 200px;
}
/* #main required */
#main .gallery-view .formelm ul
{
        list-style-type: none;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
}
#main .gallery-view .formelm ul label
{
         font-weight: normal;
}
.gallery-view .formelm fieldset
{
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: inline;
}
.gallery-view .formelm label,
.gallery-view .formelm-area label  
{
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;    
}
.gallery-view .formelm span  
{
        margin-bottom: 5px;    
}
.gallery-view fieldset legend
{
        font-weight: bold;
        font-size: 120%;
}
/*#################### gallery view actions icons ############################ */
.gallery-view ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.gallery-view ul.actions li
{
        display:inline
}
.gallery-view ul.actions a
{
        text-decoration:none
}
/*#################### gallery article ############################ */
.gallery-article
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.gallery-article dt.info-title,
.gallery-article dt.fields-title
{
        font-weight: bold;
        font-size: 120%;
		margin-top: 10px;
}
#main .gallery-article dd ul
{
        list-style-type: none;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
}
#main .gallery-article dd.field label
{
         font-weight: bold;
         margin-top: 10px;
}
#main .gallery-article dd ul label
{
         font-weight: bold;
         margin-top: 10px;
}
.gallery-article dd fieldset
{
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: inline;
}
/*#################### gallery article actions icons ############################ */
.gallery-article ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}
.gallery-article ul.actions li
{
        display:inline
}
.gallery-article ul.actions a
{
        text-decoration:none
}


/*#################### gallery edit form ############################ */
.gallery-edit
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.gallery-edit .button2-left,
.gallery-edit .button2-left div,
.gallery-edit .button2-left a
{
        float: none;
        display: inline;
}
.gallery-edit .control-group .control-label
{
        display: inline-block !important; 
}
.gallery-edit .control-group .controls
{
        display: inline-block !important;      
}
.gallery-edit .control-group .control-label
{
        width: 150px !important;      
}