<div class="education_popupp_cont">
    <div class="modal-header">
        <button  type="button" class="close"  ng-click="vv.onClose()">

            <i class="fa fa-times "></i>
            <span  class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modal-title">{{'ADD EMPLOYMENT'| translate}}</h3>
    </div> 
    <div ng-form="adminForm" class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
                    <strong>{{vv.userInfoMessage}}</strong> 
                </div>
                <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
                    <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="control-label">{{'TITLE'| translate}}</label>
            <div  >

                <input id="name" name="name" class="form-control" ng-model="vv.item.name" placeholder="{{'TITLE PLACEHOLDER'| translate}}" ng-maxlength="70"   required=""  type="text">

                <p  ng-show="adminForm.name.$invalid && adminForm.name.$touched" class="help-block">{{"NAME"| translate}} {{'IS REQUIRED'|translate}}</p>

            </div>
        </div>
        <div class="form-group">

            <label id="jform_school-lbl" for="school" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'COMPANY'| translate}}:
            </label>

            <div ng-class="{'has-error' : adminForm.school.$invalid && !adminForm.name.$pristine }" style="position: relative;">
                <select-to-search 
                    sts-validation-name="{{'COMPANY'| translate}}" 
                    minlenth="2" 
                    required 
                    class="form-control"   
                    sts-search="vv.findCompany()" 
                    sts-id="'company'" 
                    sts-class="'form-control'" 
                    ng-model="vv.item.company" 
                    sts-placeholder="{{'COMPANY PLACEHOLDER'| translate}}" 
                    sts-open="vv.companyOpen" 
                    sts-options="vv.companies"  ></select-to-search>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="control-label">{{'LOCATION'|translate}}</label>
            <div class="row">
                <div class="col-md-6">
                    <input id="city" name="city" class="form-control" ng-model="vv.item.city" placeholder="{{'CITY'| translate}}" ng-maxlength="70"   required=""  type="text">

                    <p  ng-show="adminForm.city.$invalid && adminForm.city.$touched" class="help-block">{{"CITY"| translate}} {{'IS REQUIRED'|translate}}</p>
                </div>
                <div class="col-md-6">
                    <select required ng-model="vv.item.country_id"   class="form-control" name="country" id="country">
                        <option selected="selected" value="" >{{'SELECT COUNTRY'| translate}}</option>
                        <option ng-repeat="option in vv.countries track by $index" ng-value="option.id*1">{{option.Name}}</option>
                    </select>
                     <p  ng-show="adminForm.country.$invalid && adminForm.country.$touched" class="help-block">{{"COUNTRY"| translate}} {{'IS REQUIRED'|translate}}</p>
                </div>
            </div>
        </div>



        <div class="form-group">
            <label id="jform_year-lbl" for="date_start" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'PERIOD'| translate}}:
            </label>
            <div class="row" style="margin: 0">
                <div class="col-md-6">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select required datecompare  ng-model="vv.item.start_month"   class="form-control" name="start_month" id="drug_name">
                            <option selected="selected" value="" >{{'SELECT MONTH'| translate}}</option>
                            <option ng-repeat="option in vv.months track by $index" ng-value="option.number">{{option.name| translate}}</option>

                        </select>
                        <p  ng-show="adminForm.start_month.$invalid && adminForm.start_month.$touched" class="help-block">{{'MONTH'| translate}} {{'IS REQUIRED'|translate}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select required ng-model="vv.item.start_year"   class="form-control" name="start_year" id="drug_name">
                            <option selected="selected" value="">{{'SELECT YEAR'| translate}}</option>
                            <option ng-repeat="option in vv.years track by $index" ng-value="option">{{option}}</option>
                        </select>
                        <p  ng-show="adminForm.start_year.$invalid && adminForm.start_year.$touched" class="help-block">{{'YEAR'| translate}} {{'IS REQUIRED'|translate}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    - დან
                </div>
            </div>
            <div ng-if="!vv.item.currently" class="row" style="margin: 0">
                <div class="col-md-6">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select required  ng-model="vv.item.end_month"   class="form-control" name="end_month" id="drug_name">
                            <option selected="selected" value="" >{{'SELECT MONTH'| translate}}</option>
                            <option ng-repeat="option in vv.months track by $index" ng-value="option.number">{{option.name| translate}}</option>
                        </select>
                         <p  ng-show="adminForm.end_month.$invalid && adminForm.end_month.$touched" class="help-block">{{'MONTH'| translate}} {{'IS REQUIRED'|translate}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select required  ng-model="vv.item.end_year"   class="form-control" name="end_year" id="drug_name">
                            <option selected="selected" value="">{{'SELECT YEAR'| translate}}</option>
                            <option ng-repeat="option in vv.years track by $index" ng-value="option">{{option}}</option>
                        </select>
                         <p  ng-show="adminForm.end_year.$invalid && adminForm.end_year.$touched" class="help-block">{{'YEAR'| translate}} {{'IS REQUIRED'|translate}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    - მდე
                </div>
            </div>
            <p  ng-if="!vv.isYearValid()" class="help-block">{{'PLEAS SELECT CORRECT DATE PERIOD'| translate}}</p>

            <div class="form-group">
                <div class="checkbox">
                    <input id="checkbox1" ng-model="vv.item.currently" class="styled" type="checkbox">
                    <label for="checkbox1">{{'CURRENRLY WORK HERE'| translate}}</label>
                </div>
            </div> 
        </div>  

        <div class="form-group">
            <label id="jform_description-lbl" for="description" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'DESCRIPTION'| translate}}:
            </label>

            <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                <textarea  type="text" name="description" ng-model="vv.item.description" 
                           id="description" 
                           placeholder="{{'DESCRIPTION PLACEHOLDER'| translate}}"
                           class=" form-control" size="50" 
                           ></textarea>
                <p ng-show="adminForm.description.$invalid && !adminForm.name.$pristine" class="help-block">{{"FORM_NAME"| translate}} {{"REQUIRED"| translate}}.</p>
                <p ng-show="adminForm.description.$error.minlength" class="help-block">{{"NAME IS TOO SHORT"| translate}}</p>
                <p ng-show="adminForm.description.$error.maxlength" class="help-block">{{"NAME IS TOO LONG"| translate}}</p>
            </div>

        </div>  
    </div>
    <div class="modal-footer">
        <button ng-disabled="adminForm.$invalid || vv.blockForSave || !vv.isYearValid()"  ng-click="vv.saveEducation()" class="btn mb20 btn-primary btn-primary ">{{'SAVE'| translate}}</button>
        <button  ng-click="vv.onClose()" class="btn mb20  .btn-link ">{{'CANCEL'| translate}}</button>

    </div>
</div>