
<div class="toggleUp" >
    <div class="toggle" ng-click="vv.showTopDrobdown = !vv.showTopDrobdown">
        <span class="chatSympole">chat</span>

    </div>
    <ul class="dropdown-menu chatDrpList" ng-style="vv.showTopDrobdown ? {display: 'block'} : {display: 'none'}" >


        <li class="chatItem" ng-repeat="chatItem in vv.chats track by $index">
            <span ng-click="vv.addToPanel(chatItem)" class="chatItemName">{{chatItem.name}} {{chatItem.surname}}</span>
        </li>

    </ul>

</div>
<div ng-if="vv.chatPanel.length" class="bottom-fixed">
    <div ng-repeat="chat in vv.chatPanel track by $index" ng-class="chat.showWindow ? 'chat-panel-item-active' : ''" class="chat-panel-item msg-overlay-conversation-bubble">



        <header class="chat-item-header" ng-click="chat.showWindow = !chat.showWindow">

            <section ng-class="chat.showWindow ? 'flex-column align-items-flex-start' : 'align-items-center flex-row-reverse'" class="chat-overlay-bubble-header__details pv1  ">
                <h4 class="chat-overlay-bubble-header__primary-text truncate ">
                    <a href="#" class="msg-overlay-bubble-header__primary-text truncate hoverable-link-text  ">
                        {{chat.name}} {{chat.surname}}
                    </a>
                </h4>
                <div class="chat-overlay-conversation-bubble__presence-info">
                    <i class="fa fa-circle fa-1" style="font-size: 8px;color:green;margin-right: 8px;"></i>
                    <div ng-if="chat.showWindow"  class="chat-overlay-bubble-header__secondary-text truncate ">
                        Mobile <span class="ph1">•</span> 37m ago
                    </div>
                </div>
            </section>
            <section class="chat-header-controls">
                <div class="btn-toolbar">
                    <div class="btn-group">

                        <button ng-if="chat.showWindow"  class="btn btn-default btn-small" >

                            <i class="fa fa-expand" aria-hidden="true"></i>
                        </button>
                        <div ng-if="chat.showWindow"  style="display:inline;">
                            <button type="button"  class="btn btn-default btn-small">         
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>

                        </div>
                        <!---->    
                        <button   class="btn btn-default btn-small" >

                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </section>
        </header>
        <div ng-show="chat.showWindow" class="
             chat-message-list-container relative "
             style="position: relative"
             >
            <div class="chatMessages">
                <div ng-class="vv.me.id == messageConteiner.userId ? 'messageblock-me' : 'messageblock-you'" ng-repeat="messageConteiner in chat.messages track by $index" class="chatMessageBlock">

                    <div ng-class="vv.me.id == message.user_id ? 'message-me' : 'message-you'"
                         ng-repeat="message in messageConteiner.messages track by $index" class="chatMessageitem">


                        <div class="message-in">
                            <div ng-if="$first">
                                <span class="chatMessageitem-image">
                                    <img ng-src="{{vv.me.id == message.user_id?vv.me.avatar:chat.avatar}}" />
                                </span>
                            </div> 
                            <div class="chat_message_text">{{message.message}}
                                
                            </div>
                        </div>
                        <div ng-if="$last" style="width: 100%">
                        <time am-time-ago="message.date" title="{{ message.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div ng-show="chat.showWindow" class="chat-messaging-form msg-messaging-form">    
            <div class="msg-messaging-form__attachment-previews  ">
                <!----></div>


            <textarea name="message" ng-model="chat.currentMessage" spellcheck="true" required="" placeholder="Write a message or attach a file"  class="chat-messaging-textarea  "></textarea>

            <footer class="messaging-form-footer">

                <div class="msg-messaging-form__left-actions">
                    <span action="/mupld/attachment" method="post" id="ember3188" class="msg-upload-attachment-form inline-block  "><input type="hidden" name="persist" value="true">


                        <button type="submit"  class="btn btn-default btn-small" >
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </button>

                    </span>

                    <span class="msg-upload-attachment-form inline-block  ">


                        <button type="submit"  class="btn btn-default btn-small" >
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </button>

                    </span>
                </div>
                <div class="msg-messaging-form__right-actions">
                    <button ng-click="vv.sendMessage(chat)" class="btn btn-default btn-small" >
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>

                </div>
            </footer>
        </div>


    </div>
</div>