<div ng-form="stsform">
    <input name="stsinput" placeholder="{{vv.stsPlaceholder}}" ng-minlength="vv.minlenth"  ng-required="{{vv.required}}"  type="text" ng-model="vv.ngModel"  ng-keyup="vv.callSearch()" id="{{vv.stsId}}" class="{{vv.stsClass}}"/>
    <p  ng-show="stsform.stsinput.$error.required && stsform.stsinput.$touched" class="help-block">{{"INPUT"| translate}} {{vv.stsValidationName}}  {{'IS REQUIRED'|translate}}</p>
    <p ng-show="stsform.stsinput.$error.minlength" class="help-block">{{"INPUT"| translate}} {{vv.stsValidationName}}  {{'IS TOO SHORT'|translate}} ({{'MINIMUM SYMBOLS'|translate}} {{vv.minlenth}})</p>
    <div  id="{{vv.randId}}" class="" > 
        <ul class="eo-dropdown-menu ng-hide" ng-show="vv.isOpen() && !moveInProgress" ng-style="{top: vv.position().top + 'px', left: vv.position().left + 'px'}"  role="listbox" aria-hidden="true"> <!-- ngRepeat: match in matches track by $index --> 
            <li ng-repeat="item in vv.stsOptions track by $index"
                class=" " style="" ng-mouseenter="vv.selectActive($index, $event)"
                ng-class="{active:vv.isActive($index) }"> 
                <a  ng-click="vv.selectItem(item)" class="">
                    <span class="" >{{item.label}}</span>
                </a>
            </li>
        </ul> 
        <ul ng-messages="modelErrors" class="eo-dropdown-menu eo-dropdown-menu-validation" ng-show="!isOpen() && !moveInProgress && hasFocus" ng-style="{top: position().top + 'px', left: position().left + 'px'}" style="display: block; top: 98px; left: 30px;" role="listbox" aria-hidden="false"><!-- ngMessagesInclude: blank.tmpl.html -->
            <span ></span>
        </ul> 
    </div>
</div>