<div class="row">
    <div class="col-md-10">
        <div style="display: none">
           <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
    </div>
    <div class="col-md-2">
        <div class="aducation_button">
            <i ng-click="vv.edit()" class="fa fa-plus"></i>
        </div>
    </div>
</div>
<div class="row">
            <div class="col-md-12">
                <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
                    <strong>{{vv.userInfoMessage}}</strong> 
                </div>
                <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
                    <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
                </div>
            </div>
        </div>
<div class="row">
    <education-list-component edit-item="vv.editItem" on-delete="vv.delete(item)" on-edit='vv.edit(item)' ed-items='vv.items' ></education-list-component>
</div>