<div ng-if="vv.ngModel.length" class="chosen-container chosen-container-multi">
       <ul class="chosen-choices">
        <li ng-repeat="item in vv.ngModel" class="search-choice"><span>{{vv.getLabel(item)}}</span>
            <a class="search-choice-close" ng-click="vv.removeItem(item)" ></a>
        </li>
    </ul>
</div>
<div ng-dropdown-multiselect="" options="vv.smOptions" selected-model="vv.ngModel" events="vv.drEvents" extra-settings="vv.extrasetings"></div>