<div>
    <div class="tokenizer-wrapper" ng-click="vv.focusOnInput()">
        <ul eo-sortable="tokens" class="tags list-inline">
            <!-- ngRepeat: token in tokens track by $index -->
            <li ng-repeat="item in vv.seModel track by $index" eo-sortable-item="token" class="tokenizer-token">
                <span class="tokenizer-token-content" >{{item.label}}</span>
                <span class="tokenizer-close" ng-click="vv.removeFromSelected(item)" >
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </li>
        </ul> 
        <div id="{{vv.randId}}" ng-if="true" class="input-wrapper"> 
            <div >
                <input ng-blur="vv.onmyBlur()" class="form-control" ng-click="vv.startByClicking()" focus-me="vv.useTypeahead" ng-model="vv.smSearchPhrase" ng-keyup="vv.callSearch()" placeholder="{{vv.mePlaceholder}}"    />
                <div class="" >
                    <ul class="eo-dropdown-menu" ng-show="vv.isOpen() || vv.isOpenDropdown"   role="listbox" > 
                        <li ng-repeat="item in vv.seOptions track by $index"
                            class=" " style="" ng-mouseenter="vv.selectActive($index, $event)"
                            ng-class="{active:vv.isActive($index) }"> 
                            <a  ng-click="vv.selectItem(item)" class="">
                                <span class="" >{{item.label}}</span>
                            </a>
                        </li>
                    </ul>
                    <ul ng-messages="modelErrors" ng-show="vv.isOpenDropdownErrors()" class="eo-dropdown-menu eo-dropdown-menu-validation " style="display: block; top: 40px; left: 0px;" role="listbox" aria-hidden="false">
                    </ul>
                </div>
            </div>
            <div aria-hidden="true" class="loading glyphicon air-icon-loading ng-hide" ng-show="loading"></div> 
        </div>
    </div>
</div>
