<div class="row">
    <div class="col-md-10">
        <div style="display: none">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
    </div>
    <div class="col-md-2">
        <div class="aducation_button">
            <i ng-click="vv.edit()" class="fa fa-plus"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
            <strong>{{vv.userInfoMessage}}</strong> 
        </div>
        <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
            <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
        </div>
    </div>
</div>

<div class="listing listing-1">
    <div class="listing-section">
        <article ng-repeat="item in vv.portfolios track by $index" class="listing-ver-3">
            <div class="listing-heading">
                <h5>{{item.name}}</h5>
                <ul class="bookmark list-inline">
                    <li><a ng-click="vv.edit(item)"  ><i class="fa fa-pencil-square-o"></i></a></li>
                    <li><a ng-click="vv.delete(item)"  ><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
            <div class="listing-inner">
                <div class="listing-content">
                    <article class="uou-block-7f"> 
                        <img ng-src="{{item.src}}" alt="" class="thumb">
                        <div class="meta">
                            <span class="time-ago">3 days ago</span>
<!--                            <span class="category">Posted in: <a href="#">Design</a></span>
                            <a href="#" class="comments">12 Comments</a> -->
                        </div>
                        <h1><a href="#">{{item.name}}</a></h1>
                        <p>{{item.description}}</p>
                    </article>
                </div>
            </div>



        </article>
    </div>
</div>
