<div class="education_popupp_cont">
    <div class="modal-header">
        <button  type="button" class="close"  ng-click="modalm.close()">

            <i class="fa fa-times "></i>
            <span  class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modal-title">{{'ARE YOU SURE'| translate}}</h3>
    </div> 
    <div ng-form="adminForm" class="modal-body">
     {{modalm.text}}
    </div>
    <div class="modal-footer">
        <button ng-disabled="adminForm.$invalid || modalm.blockForSave"  ng-click="modalm.deleteEducation()" class="btn mb20 btn-primary btn-primary ">{{'YES'| translate}}</button>
        <button  ng-click="modalm.close()" class="btn mb20  .btn-link ">{{'NO'| translate}}</button>

    </div>
</div>