<div class="education_popupp_cont">
    <div class="modal-header">
        <button  type="button" class="close"  ng-click="vv.onClose()">
            <i class="fa fa-times "></i>
            <span  class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modal-title">{{'ADD ADUCATION'| translate}}</h3>
    </div> 
    <div ng-form="adminForm" class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
                    <strong>{{vv.userInfoMessage}}</strong> 
                </div>
                <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
                    <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="basic-details">
                <div class="row">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="jform_name" class="hasPopover" title="ფსევდონიმი"  data-placement="bottom">
                            {{'NAME'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                                    <input  type="text" name="name" ng-model="vv.formData.name" 
                                            id="jform_name" 
                                            class="inputbox form-control" size="50" 
                                            ng-minlength="3" ng-maxlength="200" required />
                                    <p ng-show="adminForm.name.$invalid && !adminForm.name.$pristine" class="help-block">{{"FORM_NAME"| translate}} {{"REQUIRED"| translate}}.</p>
                                    <p ng-show="adminForm.name.$error.minlength" class="help-block">{{"NAME IS TOO SHORT"| translate}}</p>
                                    <p ng-show="adminForm.name.$error.maxlength" class="help-block">{{"NAME IS TOO LONG"| translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div ng-class="{'has-error' : adminForm.description.$invalid && !adminForm.description.$pristine }">
                        <div class="col-md-4">
                            <label id="jform_alias-lbl" for="description" class="hasPopover" title="ფსევდონიმი">
                                {{'DESCRIPTION'| translate}}:
                            </label>
                        </div>
                        <div  class="col-md-8">
                            <div class="row">
                                <div class="col-md-11">
                                    <textarea id="description" class="form-control" name="description" ng-model="vv.formData.description" placeholder="{{'DESCRIPTION'| translate}}" required  ng-minlength="50"></textarea>
                                    <p ng-show="adminForm.description.$error.minlength" class="help-block">{{"NAME IS TOO SHORT"| translate}}, {{"MINIMUM_SYMBOLS"| translate}} 50</p>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="form_url" class="hasPopover" title="ფსევდონიმი"  data-placement="bottom">
                            {{'URL'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <div ng-class="{'has-error' : adminForm.url.$invalid && !adminForm.name.$pristine }">
                                    <input id="form_url" name="url" ng-model="vv.formData.url" 
                                           id="jform_name" 
                                           class="inputbox form-control" size="50" 
                                           type="url" />

                                    <p ng-show="adminForm.url.$error.url" class="help-block">{{"URL NOT VALID"| translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl"  class="hasPopover" title="  <?php echo JText::_('skils'); ?>" data-placement="bottom">
                            {{'CATEGORY'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <skils-editor-component me-placeholder="select skils" se-model="vv.formData.categories"  se-defaults="vv.formData.categories" se-options="vv.avalabelCategories" sm-open="vv.skilDropdownOpen" sm-search-phrase="vv.categorySearchPhrase" ></skils-editor-component>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl"  class="hasPopover" title="  <?php echo JText::_('skils'); ?>" data-placement="bottom">
                            {{'SKILS'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">

                                <skils-editor-component me-placeholder="select skils" se-model="vv.formData.skils"  se-defaults="vv.formData.skils" se-options="vv.avalabelSkils" sm-open="vv.skilDropdownOpen" sm-search-phrase="vv.skilSearchPhrase" sm-search="v.reinitSkils()"></skils-editor-component>



                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="youtubeLink" class="hasPopover" title="  <?php echo JText::_('skils'); ?>" data-placement="bottom">
                            {{"VIDEO LINK"| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div ng-class="{'has-error' : adminForm.youtubeLink.$invalid && !adminForm.name.$pristine }">
                            <div class="row">
                                <div class="col-md-11">
                                    <input id="youtubeLink" name="youtubeLink" ng-model="vv.formData.youtubeLink" 
                                           id="jform_name" 
                                           class="inputbox form-control" size="50" 
                                           placeholder="{{'INSERT YOUTUBE LINK'| translate}}"
                                           type="url" />

                                </div>
                                <div class="col-md-1">
                                    <span ng-if="vv.formData.youtubeLink" class="search-choice-close" ng-click="vv.formData.youtubeLink = null">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                </div>

                            </div>
                            <p ng-show="adminForm.youtubeLink.$error.url" class="help-block">{{"YOUTUBE URL NOT VALID"| translate}}</p>

                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <ng-youtube-embed ng-if="vv.formData.youtubeLink" video="vv.formData.youtubeLink" width="100%">
                                </ng-youtube-embed>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="tabFileUploader">
                            {{'UPLOAD IMAGES'| translate}} 
                            <input type="file" nv-file-select="" uploader="vv.uploader" multiple  /><br/>
                            <table ng-if="vv.uploader.queue.length" class="table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{"NAME"| translate}}</th>
                                        <th>{{"SIZE"| translate}}</th>
                                        <th>{{"PROGRESS"| translate}}</th>
                                        <th>{{"REMOVE"| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vv.uploader.queue">
                                        <td>
                                            <strong><span ng-bind="item.file.name"></span></strong>
                                            <div ng-show="vv.uploader.isHTML5" ng-thumb="{file:item._file,height:100}"></div>
                                        </td>
                                        <td>{{ item.file.size / 1024 / 1024|number:2 }}</td>
                                        <td>
                                            <div class="uou-progressbar-single">
                                                <span class="main-bar">
                                                    <span class="inner-bar one gradient-one" ng-style="{ 'width': item.progress + '%' }"></span>
                                                    <b class="progress-percent">{{item.progress}}%</b>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-click="item.remove()"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr ng-repeat="item in vv.adminForm.images">
                                        <td>
                                            <strong><span ng-bind="item.file.name"></span></strong>
                                            <div ng-show="vv.uploader.isHTML5" ng-thumb="{file:item.src,height:100}"></div>
                                        </td>
                                        <td> </td>
                                        <td>

                                        </td>
                                        <td>
                                            <span ng-click="item.remove()"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table ng-if="vv.formData.images" class="table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{"IMAGE"| translate}}</th>

                                        <th>{{"REMOVE"| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vv.formData.images track by $index">
                                        <td>
                                            <img ng-src="{{item.src}}" alt="" class="thumb"/>
                                        </td>
                                        <td>
                                            <span><i  ng-click="vv.deleteItemImage(item)" class="fa fa-times" aria-hidden="true" style="font-size:40px"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="vv.submitForm()" class="btn btn-primary" ng-disabled="adminForm.$invalid || !vv.formData.categories.length">{{'SAVE'| translate}}</button>

        <button  ng-click="vv.onClose()" class="btn mb20  .btn-link ">{{'CANCEL'| translate}}</button>

    </div>
</div>