<div class="education_popupp_cont">
    <div class="modal-header">
        <button  type="button" class="close"  ng-click="vv.onClose()">

            <i class="fa fa-times "></i>
            <span  class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modal-title">{{'ADD ADUCATION'| translate}}</h3>
    </div> 
    <div ng-form="adminForm" class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
                    <strong>{{vv.userInfoMessage}}</strong> 
                </div>
                <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
                    <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
                    <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
                </div>
            </div>
        </div>
        <div class="form-group">

            <label id="jform_school-lbl" for="school" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'SCHOOL'| translate}}:
            </label>

            <div ng-class="{'has-error' : adminForm.school.$invalid && !adminForm.name.$pristine }" style="position: relative;">
                <select-to-search 
                    sts-validation-name="{{'SCHOOL'| translate}}" 
                    minlenth="2" 
                    required 
                    class="form-control"  
                    sts-search="vv.findSchools()" 
                    sts-id="'school'" 
                    sts-class="'form-control'" 
                    ng-model="vv.item.school" 
                    sts-placeholder="{{'SCOOL PLACEHOLDER'| translate}}" 
                    sts-open="vv.schoolOpen" sts-options="vv.schools"  ></select-to-search>

            </div>

        </div>  
        <div class="form-group">

            <label id="jform_year-lbl" for="date_start" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'DATES ATTENDED'| translate}}:
            </label>
            <div class="row" style="margin: 0">
                <div class="col-md-6">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select  ng-model="vv.item.start"   class="form-control" name="drug_id" id="drug_name">
                            <option  value="" >{{'START YEAR'| translate}}</option>
                            <option ng-repeat="option in vv.years track by $index" ng-value="option">{{option}}</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                        <select  ng-model="vv.item.end"   class="form-control" name="drug_id" id="drug_name">
                            <option selected="selected" value="">{{'END YEAR'| translate}}</option>
                            <option ng-repeat="option in vv.years track by $index" ng-value="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>  
        <div class="form-group">

            <label id="jform_degree-lbl" for="degree" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'DEGREE'| translate}}:
            </label>
            <div ng-class="{'has-error' : adminForm.school.$invalid && !adminForm.name.$pristine }" style="position: relative;">
                <select-to-search 
                    sts-validation-name="{{'DEGREE'| translate}}" 
                    minlenth="2" 
                    required 
                    class="form-control"  
                    name='degree' 
                    sts-search="vv.findDegree()" 
                    sts-id="'degree'" 
                    sts-class="'form-control'" 
                    ng-model="vv.item.degree" 
                    sts-placeholder="{{'DEGREE PLACEHOLDER'| translate}}" 
                    sts-open="vv.degreeOpen" 
                    sts-options="vv.degree"  ></select-to-search>
            </div>


        </div>  
        <div class="form-group">

            <label id="jform_area_of_study-lbl" for="area_of_study" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'AREA OF STUDY'| translate}}:
            </label>

            <div ng-class="{'has-error' : adminForm.areaOfStudy.$invalid && !adminForm.name.$pristine }" style="position: relative;">
                <select-to-search 
                    sts-validation-name="{{'SCHOOL'| translate}}" 
                    minlenth="2" 
                    required 
                    class="form-control"  
                   
                    sts-search="vv.findAreaOfStudy()" 
                    sts-id="'areaOfStudy'" 
                    sts-class="'form-control'" 
                    ng-model="vv.item.area_of_study" 
                    sts-placeholder="{{'AREAOFSTUDY PLACEHOLDER'| translate}}" 
                    sts-open="vv.areaOfStudyOpen" 
                    sts-options="vv.areaOfStudy"  ></select-to-search>

            </div>
        </div>  
        <div class="form-group">

            <label id="jform_description-lbl" for="description" class="control-label" title="ფსევდონიმი"  data-placement="bottom">
                {{'DESCRIPTION'| translate}}:
            </label>

            <div ng-class="{'has-error' : adminForm.name.$invalid && !adminForm.name.$pristine }">
                <textarea  type="text" name="description" ng-model="vv.item.description" 
                           id="description" 
                           placeholder="{{'DESCRIPTION PLACEHOLDER'| translate}}"
                           class=" form-control" size="50" 
                           ></textarea>
                <p ng-show="adminForm.description.$invalid && !adminForm.name.$pristine" class="help-block">{{"FORM_NAME"| translate}} {{"REQUIRED"| translate}}.</p>
                <p ng-show="adminForm.description.$error.minlength" class="help-block">{{"NAME IS TOO SHORT"| translate}}</p>
                <p ng-show="adminForm.description.$error.maxlength" class="help-block">{{"NAME IS TOO LONG"| translate}}</p>
            </div>

        </div>  
    </div>
    <div class="modal-footer">
        <button ng-disabled="adminForm.$invalid || vv.blockForSave"  ng-click="vv.saveEducation()" class="btn mb20 btn-primary btn-primary ">{{'SAVE'| translate}}</button>
        <button  ng-click="vv.onClose()" class="btn mb20  .btn-link ">{{'CANCEL'| translate}}</button>

    </div>
</div>