<ul class="uou-accordions">
    <li class="active"> <a href="#">{{"PERSONAL_INFO"| translate}}</a>
        <div class="accordion_clear  whitebg">
            <form name='form1' novalidate>
                <!--                <h6>{{"PERSONAL_INFO"| translate}}</h6>-->
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
                            <strong>{{vv.userInfoMessage}}</strong> 
                        </div>
                        <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
                            <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
                            <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="jform_name" class="hasPopover" title="ფსევდონიმი"  data-placement="bottom">
                            {{'FIRSTNAME'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <div ng-class="{'has-error' : form1.name.$invalid && !form1.name.$pristine }">
                                    <input  type="text" name="name" ng-model="vv.user.name" 
                                            id="jform_name" 
                                            class="inputbox form-control" size="50" 
                                            ng-minlength="2" ng-maxlength="200" required />
                                    <p ng-show="form1.name.$invalid && !form1.name.$pristine" class="help-block">{{"FORM_NAME"| translate}} {{"REQUIRED"| translate}}.</p>
                                    <p ng-show="form1.name.$error.minlength" class="help-block">{{"NAME IS TOO SHORT"| translate}}</p>
                                    <p ng-show="form1.name.$error.maxlength" class="help-block">{{"NAME IS TOO LONG"| translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="jform_name" class="hasPopover" title="ფსევდონიმი"  data-placement="bottom">
                            {{'LASTNAME'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <div ng-class="{'has-error' : form1.surname.$invalid && !form1.surname.$pristine }">
                                    <input  type="text" name="surname" ng-model="vv.user.surname" 
                                            id="jform_name" 
                                            class="inputbox form-control" size="50" 
                                            ng-minlength="2" ng-maxlength="200" required />
                                    <p ng-show="form1.surname.$invalid && !form1.surname.$pristine" class="help-block">{{"FORM_NAME"| translate}} {{"REQUIRED"| translate}}.</p>
                                    <p ng-show="form1.surname.$error.minlength" class="help-block">{{"SURNAME IS TOO SHORT"| translate}}</p>
                                    <p ng-show="form1.surname.$error.maxlength" class="help-block">{{"SURNAME IS TOO LONG"| translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div ng-class="{'has-error' : form1.description.$invalid && !form1.description.$pristine }">
                        <div class="col-md-4">
                            <label id="jform_alias-lbl" for="description" class="hasPopover" title="ფსევდონიმი">
                                {{'DESCRIPTION'| translate}}:
                            </label>
                        </div>
                        <div  class="col-md-8">
                            <div class="row">
                                <div class="col-md-11">
                                    <textarea id="description" class="form-control" name="description" ng-model="vv.user.description" placeholder="{{'DESCRIPTION'| translate}}" required  ng-minlength="10"></textarea>
                                    <p ng-show="form1.description.$error.minlength" class="help-block">{{"USER DESCRIPTION IS TOO SHORT"| translate}}, {{"USER_DESCRIPTION_MINIMUM_SYMBOLS"| translate}} 10</p>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label id="jform_alias-lbl" for="jform_name" class="hasPopover" title="ფსევდონიმი"  data-placement="bottom">
                            {{'LASTNAME'| translate}}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-11">
                                <div ng-class="{'has-error' : form1.tel.$invalid && !form1.tel.$pristine }">
                                    <input type="text" name="tel" ng-model="vv.user.phone" ng-intl-tel-input data-default-country="ge">
                                    <span class="help-block" ng-show="form1.tel.$pristine && form2.tel.$untouched">Please type a telephone number</span>
                                    <span class="help-block" ng-show="form1.tel.$invalid && form2.tel.$touched">Invalid :(</span>
                                    <span class="help-block" ng-show="form1.tel.$valid">Valid :)</span>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button ng-disabled="form1.$invalid || vv.disabledSaveInfoButton" ng-click="vv.savePersonalInfo()" class="btn mb20 btn-small btn-primary">{{'SAVE'| translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li>
        <a href="#">{{'PROFESSIONS AND SKILS'| translate}}</a>
        <div class="whitebg">
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="vv.skilsMessage" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" ng-click="vv.skilsMessage = null" class="close">×</button>
                        <strong>{{vv.skilsMessage}}</strong> 
                    </div>
                    <div ng-if="vv.skilsError" class="alert alert-error alert-dismissible" role="alert">
                        <button type="button" ng-click="vv.skilsError = null" class="close">×</button>
                        <strong>{{'ERROR'| translate}}!</strong> {{vv.skilsError}}
                    </div>
                </div>
            </div>
            <h6>{{'SKILS'| translate}}</h6>
            <skils-editor-component me-placeholder="select skils" se-model="vv.selectedSkils"  se-defaults="vv.userSkils" se-options="vv.skils" sm-open="vv.skilDropdownOpen" sm-search-phrase="vv.skilSearchPhrase" sm-search="vv.onSkillSearch()"></skils-editor-component>
            <h6>{{'Proffesions'| translate}}</h6>
            <skils-editor-component me-placeholder="select skils" se-model="vv.selectedProffesions"  se-defaults="vv.userProffesions" se-options="vv.proffesions" sm-open="vv.proffesionDropdownOpen" sm-search-phrase="vv.proffesionSearchPhrase" sm-search="vv.onProffesionSearch()"></skils-editor-component>
            <div class="row">
                <br />
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button ng-disabled="vv.disabledSaveSkilsButton" ng-click="vv.saveSkils()" class="btn mb20 btn-small btn-primary">{{'SAVE'| translate}}</button>
                </div>
            </div>
        </div>
    </li>
    <li> <a href="#">{{'EDUCATION'| translate}}</a>
        <div class="whitebg">
           
            <education-component></education-component>
        </div>
    </li>
    <li> <a href="#">{{'EMPLOYMENT HISTORY'| translate}}</a>
        <div class="whitebg">
             <employment-component></education-component>
        </div>
    </li>
    <li> <a href="#">{{'CHANGE_PASSWORD'| translate}}</a>
        <div class="whitebg">
            <h6>Tab 3</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quisquam porro dolorum dicta modi fugit, praesentium, eos voluptas itaque hic atque saepe facere numquam odio voluptatum nihil reiciendis suscipit ut.</p>
        </div>
    </li>

</ul>