<div class="listing listing-1">
    <div class="listing-section">
        <div ng-repeat="item in vv.edItems track by $index" class="listing-ver-3" style="margin-bottom: 30px">
            <div class="listing-heading">
                <h5>{{item.name}}</h5>
                <ul class="bookmark list-inline">
                    <li><a ng-click="vv.edit(item)"  ><i class="fa fa-pencil-square-o"></i></a></li>
                    <li><a ng-click="vv.delete(item)"  ><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
            <div class="listing-inner">
                <div class="listing-content">
                    <h6 class="title-company">{{'COMPANY'| translate}} : {{item.company}}</h6>
                    <span class="location">
                        <i class="fa fa-map-marker"></i>{{item.country_name}} , {{item.city}}
                    </span>
                    <!--                    <span class="type-work full-time"> Full Time </span>-->
                    <p>{{item.description}}</p>
                    <!--                    <h6 class="title-tags">Skills required:</h6>
                                        <ul class="tags list-inline">
                                            <li><a href="#">Javascript</a></li>
                                            <li><a href="#">Wordpress</a></li>
                                            <li><a href="#">Presta</a></li>
                                            <li><a href="#">Sass</a></li>
                                        </ul>-->
                </div>
            </div>
            <div class="listing-tabs">
                <ul>
                    <li><a href="#">{{'WORKING PERIOD'| translate}}</a></li>
                    <li><a href="#">{{vv.getMonthName(item.start_month)| translate}} - {{item.start_year}}</a></li>
                    <li>
                        <a href="#" ng-show="item.currently==='0'">{{vv.getMonthName(item.end_month)| translate}} - {{item.end_year}}</a>
                        <a href="#" ng-show="item.currently==='1'">{{'CURRENTLY'| translate}}</a>
                    </li>
                    <!--                    <li><a href="#"><i class="fa fa-globe"></i> www.webstite.com</a></li>
                                        <li class="share-button"> <a href="#"><i class="fa fa-share"></i> Share</a>
                                            <div class="contact-share">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                </ul>
                                            </div>
                                        </li>-->
                </ul>
            </div>
        </div>

    </div>
</div>